@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
.card {
  background-color: theme('colors.white');
  border-radius: theme('borderRadius.lg');
  padding: theme('spacing.6');
  box-shadow: theme('boxShadow.xl');
}
.card-category {
  height: 130px;
}
.dropdown-category {
  height: 300px;
}
.product-img {
  height: 120px;
  width: 120px;
}
.view-product {
  height: 400px;
  width: 400px;
}
.product-description {
  max-height: 250px;
}

@media (min-width: 768px) { 
  .product-img {
    height: 160px;
    width: 160px;
  }
  .view-product {
    height: 400px;
    width: 400px;
  }
  .product-description {
    max-height: 300px;
  }
}


