@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
.card {
  background-color: theme('colors.white');
  border-radius: theme('borderRadius.md');
  box-shadow: theme('boxShadow.xl');
}
.card-products {
  width: 300px;
  height: 380px;
}
.dropdown-category {
  height: 300px;
}
.product-img {
  height: 120px;
  width: 120px;
}
.view-product {
  height: 400px;
  width: 400px;
}
.product-description {
  max-height: 250px;
}

#dropdownNavbar::-webkit-scrollbar {
  width: 5px;  
  margin-right: 5px;             /* width of the entire scrollbar */
}
#dropdownNavbar::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

#dropdownNavbar::-webkit-scrollbar-thumb {
  background-color:  rgb(107 114 128);    /* color of the scroll thumb */
  border-radius: 10px; 
  width: 10px;
    /* creates padding around scroll thumb */
}

@media (min-width: 768px) { 
  .product-img {
    height: 160px;
    width: 160px;
  }
  .view-product {
    height: 400px;
    width: 400px;
  }
  .product-description {
    max-height: 300px;
  }
}


